*{
  margin:0;
  font-family: monospace;
  font-size: x-large;
  color: #696F79;
}
a{
  text-decoration: none;
}
.navbar h1{
  font-weight: 100000;
  cursor: pointer;
}
.navbar{
  top:0;
  position: sticky;
  padding: 10px ;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FBF9F9;
}
.navbar__icons{
  display:flex; 
  justify-items: center;
  justify-content: space-between;
}
.navbar__search{
  border: none;
  outline: none;
  flex:0.8;
}

.search__section{
  box-shadow: 0px 15px 40px 5px #EDEDED;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  justify-items: center;

}

.navbar__button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #8692A6;
  color: aliceblue;
  border-radius:30px ;
  padding:10px 20px 10px 20px;
}
.navbar__button:hover{
  background-color: #7589ac;

  color: black;
}

.sidebar{
  left: 0;
  top: 0;
  display: block;
  /* border: 1px solid black; */
  width: fit-content;
  height: 100vh;
  box-shadow: 0px 15px 40px 5px #EDEDED;
  
}
.sidebar ul li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  padding:10px 20px 10px 20px;
  display: flex;
  justify-items: center;
}

.sidebar ul li:hover {
  background: #8692A6;
  border-radius: 30px;
  color: white;
}

.logout__icon{
  display: flex;
  justify-items: center;
  margin-top: 50vh;
}
.logout__button{
  display: flex;
  justify-items: center;
  cursor: pointer;
  border: none;
  outline: none;
}

/* .typ{
  color: aliceblue;
}
.App {
  text-align: center;
  font-size:smaller;
}
a{
  text-decoration: none;
  color: black;
}
.questions Button{
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.questions h4,h3{
  margin-bottom: 30px;
}
.result{
  margin:50px ;
  padding:20px;
  font-family: monospace;
  text-align: center;
  font-size: larger;
}
.result * {
  margin-bottom: 50px;
}
.result Button{
  cursor: pointer;
  margin-left: 50px;
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}
.review {
  margin : 50px;
  padding:20px;
  text-align: center;
}
.navbar h1{
  margin-left: 30px;
}
.navbar{
  left: 0;
  border-bottom: 1px solid lightskyblue;
  font-family:monospace;
  font-size: x-large;
  
}

.form{
  display: block;
  margin:50px;
  justify-content: space-between;
  text-align: center;
  border-radius: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.form *{
  margin-bottom: 15px;

}
.range-slider{
  cursor: pointer;
}
.form-categories{
  display: flex;
  flex-wrap:wrap ;
  justify-content: space-between;
}
.questions{
  margin:50px;
  text-align: center;
  padding:50px;
  border-radius: 25px;
}
.review{
  width: 70%;
  margin:0 auto ;
}
.review h2{
  border-radius: 25px 25px 0 0;
  padding:20px;
  border: 1px solid #7400B6;
  border-radius: 25px;
}
.review Button{
  margin-top: 20px;
}
.question-review{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
 
}

.review-section{
  border-left:1px solid #7400B6;
  border-right:1px solid #7400B6;
  border-radius: 25px;
  padding: 20px;
}
.login{
  text-align: center;
  padding:20px;
  width: max-content;
  margin:0 auto;
  margin-top : 100px;
  border-radius: 15px; 
}
.login_form *{
  margin-bottom: 20px;
}
.tool{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.typ{
  color:whitesmoke;
}
.login_stat a{
  margin-left: 15px;
  color:whitesmoke;
}


 */
